### Linear Regression

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv('twitter-stocks.csv')

### Data Set

In [3]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-11-07,45.099998,50.090000,44.000000,44.900002,44.900002,117701670.0
1,2013-11-08,45.930000,46.939999,40.685001,41.650002,41.650002,27925307.0
2,2013-11-11,40.500000,43.000000,39.400002,42.900002,42.900002,16113941.0
3,2013-11-12,43.660000,43.779999,41.830002,41.900002,41.900002,6316755.0
4,2013-11-13,41.029999,42.869999,40.759998,42.599998,42.599998,8688325.0

### Selecting The Dataset Parameters

In [4]:
features=['Open','High','Low','Volume','Adj Close']
target=['Close']

### Importing train_test_split from model_selection

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import explained_variance_score

In [6]:
x=data[features]
y=data[target]

### Splitting

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=32, shuffle=True )

### Importing tests

In [8]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, median_absolute_error
from math import sqrt

In [9]:
LR=LinearRegression()
LR.fit(x_train,y_train)

LinearRegression()

In [10]:
y_prediction = LR.predict(x_test)

### Mean Absolute Error

In [11]:
MAE= mean_absolute_error(y_test,y_prediction)
print('mean_absolute_error is ',MAE)

mean_absolute_error is  9.56405327926752e-10

### Mean Squared Error

In [12]:
MSE = mean_squared_error(y_test,y_prediction)
print(MSE)

2.6111184227483697e-18

### Root Mean Square Error

In [13]:
RMSE=sqrt(MSE)
print(RMSE)

1.6158955482172632e-09

### Median absolute Error

In [14]:
MeAE=median_absolute_error(y_test,y_prediction)
print(MeAE)

7.185061434711315e-10

### R-Squared Score

In [15]:
R_squared=r2_score(y_test,y_prediction)
print(R_squared)

1.0

### For Deployment

In [17]:
import joblib

In [18]:
joblib.dump(LR,'LR.pkl')

['LR.pkl']